# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: "Paysage et Biodiversité"
short-title: "Peb"
email: peb@domain.com
description: "PEB, Paysage et Biodiversité, est une association pour la préservation et
  l'amélioration du cadre de vie et de la biodiversité. Nous sommes situés dans l'Ouest Vosgien."
baseurl: "/peb01" # the subpath of your site, e.g. /blog
url: "https://id2m.github.io" # the base hostname & protocol for your site
twitter_username: peb
github_username:  peb
lang: fr
words_per_minute: 150


# Jekyll configuration
permalink: /:categories/:title
# permalink: /:year/:month/:title.html

excerpt_separator: <!--fin-excerpt-->



# Configuration settings you cannot change from https://help.github.com/articles/configuring-jekyll/

# Produce an index for related posts:
# lsi: false
# Disable custom plugins, and ignore symbolic links:
#safe: true
# source: [your repo's top level directory]
# incremental: false
# highlighter: rouge
# gist:
#    noscript: false




# Build settings
markdown: kramdown

sass:
  sass_dir: _assets/stylesheets
  style: compressed
# _layouts/compress.html
compress_html:
  clippings: all
  endings: all
  comments: all # ["<!--", "-->"]



keep_files: [images] #conserver dans fichier destination, _site par défaut
include: ["_pages"]

exclude:
  - gulp
  - node_modules
  - .editorconfig
  - .gitignore
  - .jshintrc
  - .ruby-version
  - Gemfile*
  - README.md
  - autoprefixer.yml
  - gulpfile.js
  - package.json
  - _site/
  - .code-highlighter-cache
  - Rakefile.rb


# Plugins
whitelist: []
gems:
  - jekyll-assets # generate locally !
  - jekyll-sitemap

# Plugin: jekyll-assets

assets:
  sources:
    - _assets/js
    - _assets/stylesheets
    - _assets/images
    - _assets/fonts
  compress:
    css: true
    js: true
  digest: true

# Plugin: jekyll-archives

# jekyll-archives:
#   enabled:
#     - tags
#   layouts:
#     tag: tag_index
#   permalinks:
#     tag: /tag/:name/




collections:
  blog:
    output: true
    permalink: /:collection/:path/
    title: Blog
  nos-actions:
    output: false
  qui-sommes-nous:
    output: false
  nous-rejoindre:
    output: false

# Defaults
defaults:
  # Blog
  - scope:
      path: _blog
      type: blog
    values:
      layout: post
  # Pages
  - scope:
      path: _pages
      type: pages
    values:
      layout: page


# Plugin: jekyll-picture-tag

picture:
  source: "images/_originals"
  output: "images"
  markup: "picture"
  presets:
    default:
      ppi: [1]
      source_720:
        media: "(min-width: 1200px)"
        width: "720"
      source_670:
        media: "(min-width: 768px)"
        width: "670"
      source_540:
        media: "(min-width: 600px)"
        width: "540"
      source_default:
        width: "320"
    slider-home:
      attr:
        class: "slider-home-image"
        itemprop: "image"
      ppi: [1]
      source_default:
        width: "320"
        height: "120"
    welcome-home:
      attr:
        class: "welcome-home-image"
        itemprop: "image"
      ppi: [1]
      source_800:
        media: "(min-width: 1490px)"
        width: "800"
      source_600:
        media: "(min-width: 768px)"
        width: "600"
      source_default:
        width: "320"

