.container-body {
    // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
    // padding-right: $spacing-unit;
    // padding-left: $spacing-unit;
    // @extend %clearfix;
    // background-image: url(/images/photo_couverture.jpg);
    // background-position: left top;

    // @include breakpoint($break-lg-max) {
        // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        // max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        // min-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        // min-width:         calc(#{$content-width} - (#{$spacing-unit}));
        // padding-right: $spacing-unit / 2;
        // padding-left: $spacing-unit / 2;
    // }
}


