---
layout: compress
---

<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body class="Site-body container-body default-page">
    <div id="haut-page" class="u-hiddenVisually"></div>

    <header id='header-default' class="Site-header header--fixed">
        {% include header-default.html %}
    </header>

    <main class="Site-main " id="main" role="main">

      <aside class="Site-left-aside u-textLeft ">
      </aside>

      <div class="Site-content-right-aside">

        <article class="Site-content">
            {{ content }}
        </article>

        {% if page.showContent %}
          <aside class="Site-right-aside u-textCenter ">
            <!-- <div class="toc--sidebar"></div> -->
            <strong>Right Aside</strong>
          </aside>
        {% else %}
          <aside class="Site-right-aside u-textCenter ">

          </aside>
        {% endif %}
      </div> <!-- fin Site-content-right-aside -->

    </main>


    {% if page.url contains '/blog/' %}

      {% assign halfWpm = site.words_per_minute | divided_by: 2 %}
      {% assign readtime = page.content | strip_html | number_of_words | plus:halfWpm | divided_by:site.words_per_minute  %}

      {% if readtime >= 3 %}
        <div id="backtotop" {% if readtime < 7 %}class="site-backtotop on-sm-only" {% else%} class="site-backtotop" {% endif %}><a class="backtotop" href="#haut-page">Retour haut de page</a></div>
      {% endif %}
    {% endif %}




    <footer class="Site-footer">
      <div class="Footer">
        {% include footer.html %}
      </div>
    </footer>
    {% include scripts.html %}

  </body>
</html>
