---
layout: default
---

<!-- {% if page.photo %}
<div class="post-photo" style="background-image: url('/images/posts/{{ page.photo }}')">
</div>
{% endif %} -->

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <a href="{{site.baseurl}}/">Acceuil Peb</a> > <a  href="{{site.baseurl}}/blog/">Blog</a>

  <div class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </div>



  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
